* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #9cb7c5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
